<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn-rotate" href="javascript:void(0)">
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
        </li>
        <!-- Avatar / User menu -->
        <li class="nav-item" ngbDropdown placement="bottom-right">
          <a class="nav-link d-flex align-items-center gap-2" ngbDropdownToggle id="userMenu" style="cursor: pointer;"
            aria-label="Abrir menu do usuário">
            <img src="https://media.lordicon.com/icons/wired/gradient/44-avatar-user-in-circle.svg"
              alt="Foto do usuário" width="30" height="30" class="avatar rounded-circle">
            <span class="d-none d-lg-inline fw-semibold">{{ username }}</span>
          </a>

          <div ngbDropdownMenu aria-labelledby="userMenu" class="dropdown-menu dropdown-menu-end shadow">
            <div class="px-3 py-2 small text-muted d-lg-none">
              Logado como <span class="fw-semibold">{{ username }}</span>
            </div>
            <a ngbDropdownItem href="/#/profile">
              <i class="nc-icon nc-single-02 me-2"></i> Meu perfil
            </a>
            <button ngbDropdownItem>
              <i class="nc-icon nc-settings-gear-65 me-2"></i> Configurações
            </button>
            <button ngbDropdownItem>
              <i class="nc-icon nc-key-25 me-2"></i> Trocar senha
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem class="text-danger" (click)="logout()">
              <i class="nc-icon nc-button-power me-2"></i> Sair
            </button>
          </div>

        </li>


      </ul>
    </div>
  </div>
</nav>