<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>

      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" src="assets/img/mike.jpg" alt="...">
            <h5 class="title">{{ profileForm.get('fullName')?.value || 'Usuário' }}</h5>
          </a>
          <p class="description">
            @{{ profileForm.get('username')?.value }}
          </p>
        </div>
        <p class="description text-center">
          "Seja bem-vindo(a) de volta!"
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container text-center">
          <h5>ID: {{ profileForm.get('id')?.value }}</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Editar Perfil</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" formControlName="username" placeholder="Username">
              </div>
            </div>
            <div class="col-md-8 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome Completo</label>
                <input type="text" class="form-control" formControlName="fullName" placeholder="Nome completo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" formControlName="phoneNumber" placeholder="(00) 00000-0000" />
              </div>
              
            </div>
          </div>


          <div class="row mt-3">
            <div class="col-lg-6">
              <button type="button" class="btn btn-dark btn-round" (click)="updatePassword()">Atualizar Senha</button>
            </div>
            <div class="col-lg-6 text-right">
              <button type="submit" class="btn btn-primary btn-round pull-right">Salvar Alterações</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>